body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

label, input, button {
    margin-bottom: 10px;
}

input, button {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    display: flex; /* Coloca los botones uno al lado del otro */
    align-items: center;
    
    margin-right: 10px; /* Añade un poco de margen entre los botones */
}

button:last-child {
    margin-right: 0; /* Quita el margen del último botón para evitar espacio adicional */
}

button:hover {
    background-color: #45a049;
}

#escitalaOutput, #cesarOutput {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    word-wrap: break-word;
}

.botones{
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
}
   
@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    input, button {
        width: 100%;
    }
}